.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.form-wrapper{
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: white;
}
@media screen and (max-width: 512px) {
  .form-wrapper {
    width: 200px;
    max-width: 1170px;
  }
}

form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1{
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: 700;
}

label{
  font-size: 0.8em;
  margin-top: 0.25em;
  color: #222;
  font-weight: 500;
}

input{
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gainsboro;
}

input::placeholder{
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error{
  border: 1px solid red;
}

.errorMessage{
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstname {
  margin-right: 1%;
}

.lastname{
  margin-left: 1%;
}

.firstname,
.lastname,
.email,
.password{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstname,
.lastname{
  width: 49%;
}

@media screen and (max-width: 512px) {
  .firstname,.lastname {
    width: 100%;
  }
}

.email,
.password{
  width: 100%;
}

.createAccount button{
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover{
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
  transition: all 1s ease;
  cursor: pointer;
}

.createAccount{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount small{
  color: #999;
  font-weight: 600;
 }

 .gender{
  width: 100%;
  display: flex; 
  align-items: center;
 }

 .male,.female{
   text-align: center;
   margin-left: 50px;
 }

 @media screen and (max-width: 512px) {
  .gender{
    width: 100%;
    display: flex;
  }
  .male,.female{
    display: inline-flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
}